.mainDiv {
  margin: auto;
  font-size: 20px;
  width: 50%;

  
}
.heading{
    font-size: 25px;
    background-color: wheat;
    color: black;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    cursor: pointer;
    
}